@import url(./styles/app-main.css);
@import url(./styles/app-sub.css);
@import url(./styles/background.css);
@import url(./components/header.css);
@import url(./styles/mobile.css);
@import url(./styles/footer.css);

@font-face {
	font-family: Mukta;
	src: url(/public/fonts/Mukta-Regular.ttf) format ('truetype');
}


html {
	transition: 0.75s;
	scroll-behavior: smooth;
}

body {

	font-family: "Mukta", system-ui;
	margin: 0;
	padding: 0;
	font: 400 1rem "Mukta", System-ui;
}


:root {
	--black: #000000;
	--purple: #615AA8;
	--text: #EDF1F7;
	--text2: #adadad;
	--red: #EC2323;
	--blue: #0041C2;
	--darkblue: #02215e;
	--green: #A0DC58;
	--yellow: #ffc12b;
	--Asuka: #F99D53;
	--violetBlack: #291D2D;
	--reyAnayami: #3999f8;
	--Shinji: #02096e;
	--maroon: #592661;
}

a {
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body,
button,
a {
	color: var(--text);
}

#carouselMobile {

	max-height: 450px;
	overflow: hidden;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;

}


@media only screen and (orientation: landscape) {
	#carouselMobile .carousel-item img {
		padding-top: 0%;
		height: 220px;

		margin-top: 0%;
		object-fit: fill;

		width: auto;

	}
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: black;
}