#app-sub {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container-sub {

	flex: 1;
	display: flex;

	justify-content: center;

}

.left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 19px;
	margin-right: 19px;

}

.right {
	display: flex;
	flex-direction: column;

	justify-content: center;
	margin-right: 19px;
	margin-left: 19px;
}

.box {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	background-color: rgba(102, 102, 102, 0.589);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	transition: all 0.5s ease;
}


a {
	text-decoration: none;
}

.box-bottom {
	margin-top: 5vh;
}

footer {

	text-align: center;
	padding: 05px;
	background-color: rgba(116, 116, 116, 0.568);
	backdrop-filter: blur(55px);
	margin-top: 20px;

}

footer::before {
	background-color: rgba(207, 207, 207, 0.589);
	backdrop-filter: blur(25px);
}

@media screen and (max-width: 600px) {
	.container-sub {
		flex-direction: column;
	}

	.box {
		width: 100%;

	}

	footer {
		font-size: 13px;
	}

	#secao {
		margin-top: 5vh;
	}

	.paragrafo {
		font-size: 1.15ch;
	}

	.historias {
		margin-bottom: 1%;
	}
}

.historias {
	color: var(--yellow);
	display: flex;
	justify-content: center;
	margin-top: 2rem;

}

.heading-A {
	color: var(--reyAnayami);
}


#artigo:hover {
	background-color: rgba(221, 220, 220, 0.199);
	transition: all 0.5s ease;

}

.paragrafo {
	color: var(--text);
	transition: all 0.5s ease;

}

#artigo {
	backdrop-filter: blur(19px);

}

.Heading-shinji {
	color: var(--Shinji);
}

.Heading-anayami {
	color: var(--reyAnayami);
}

.Heading-asuka {
	color: var(--Asuka);
}

#secao:hover {
	background-color: rgba(221, 220, 220, 0.199);
	transition: all 0.5s ease;
}

h2 {
	margin-bottom: 19px;
	text-transform: capitalize;
}

.paragrafo:hover {
	cursor: none;
}




@media screen and (max-width: 600px) and (orientation: portrait) {
	.container-sub {
		flex-direction: column;
		justify-content: center;
	}



	footer {
		font-size: 13px;
	}

	#secao {
		margin-top: 5vh;
	}

	.paragrafo {
		font-size: 1.15ch;

	}

	.historias {
		margin-bottom: 1%;
	}
}

@media screen and (max-width: 950px) and (orientation: landscape) {


	footer {
		font-size: 13px;
	}

	#secao {
		margin-top: 3vh;
	}

	.paragrafo {
		font-size: 1.15ch;

	}

	.historias {

		margin-bottom: 1.5rem;
	}
}


@media screen and (max-width: 930px) and (orientation: landscape) {

	footer {
		font-size: 13px;
	}

	#secao {
		margin-top: 1.5vh;
	}

	.paragrafo {
		font-size: 1.15ch;

	}

	.historias {

		margin-bottom: 1.2rem;
	}
}

@media screen and (max-width: 800px) {




	footer {
		font-size: 13px;
	}

	#secao {
		margin-top: 5vh;
	}

	.paragrafo {
		font-size: 1.2ch;

	}

	.historias {
		margin-bottom: 1%;
	}
}


@media screen and (max-width: 400px) and (orientation: portrait) {
	.container-sub {
		flex-direction: column;
		justify-content: center;
	}



	footer {
		font-size: 13px;
		padding: 03px;
	}

	#secao {
		margin-top: 2.5vh;
	}

	.paragrafo {
		font-size: 1.05ch;

	}

	.historias {
		margin-bottom: 1%;
	}
}

@media screen and (max-width: 700px) and (orientation: landscape) {


	footer {
		font-size: 13px;
		padding: 2px;
	}

	#secao {
		margin-top: 1vh;
	}

	.paragrafo {
		font-size: 1ch;

	}

	.historias {

		margin-bottom: 0.9rem;
	}

	h2 {
		margin-bottom: 10px;
	}
}

@media screen and (max-height: 670px) {
	.historias {
		margin-top: 05px;
	}

	footer {
		font-size: 13px;
		padding: 1px;
	}


	.box-bottom,
	#secao {
		margin-top: 1.5vh;
	}
}

@media screen and (max-width: 940px) and (orientation: landscape) {


	footer {
		font-size: 13px;
		padding: 2px;
	}

	#secao {
		margin-top: 1vh;
	}

	.paragrafo {
		font-size: 1ch;

	}

	.historias {

		margin-bottom: 0.9rem;
	}

	h2 {
		margin-bottom: 10px;
	}
}