.me {
	color: var(--red);
	transition: ease-in 0.2s;
}

.SouKick-badge {
	width: 50px;
	height: 25px;
	padding-top: 10px;
	flex-shrink: 1;
}

.paragrafo-footer {
	color: var(--black);
}

.me:hover {
	color: var(--blue);
}